{% extends "arrgon/layouts/base.html" %}
<html lang="en">
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}

<head>
<meta charset="UTF-8">
<meta name="author" content="TruongNV <truongg.nv@gmail.com>">
<meta name="copyright" content="Copyright ©2022 TruongNV <truongg.nv@gmail.com>">
{% include 'Account/argon/admin/fixed/header.html' %}
<script src="/static/arrgon/js/jquery/dist/jquery.min.js"></script>



</head>
        
{% block content %}

<!-- [ Main Content ] start -->
<main>
          <!-- Page Heading -->
          <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                    <div class="container-xl px-4">
                        <div class="page-header-content pt-4">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-auto mt-4">
                                    <h1 class="page-header-title">
                                        <div class="page-header-icon"><i data-feather="layout"></i></div>
                                       Tổng quan
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
        <div class="container-xl px-4 mt-n10">
            <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                    <a href="{% url 'FormView' %}" target="_self">
                    <div class="card border-start-lg border-start-info h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-info mb-1">Thông tin số lượng phiếu</div>
                                    <div class="h5"><span id="accountUsageId">{{ count }}</span></div>
                                </div>
                                <div class="ms-2"><i class="fab fa-adn fa-2x text-gray-200"></i></div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-xl px-4 mt-n30">
            <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                    <a href="{% url 'AssetListView' %}" target="_self">
                    <div class="card border-start-lg border-start-info h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-info mb-1">Thông tin số tài sản theo phiếu</div>
                                    <div class="h5"><span id="accountUsageId">{{ count }}</span></div>
                                </div>
                                <div class="ms-2"><i class="fab fa-adn fa-2x text-gray-200"></i></div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
</main>
    {% endblock %}


        