
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


<script src="/static/sbadminpro/js/jquery/dist/jquery.min.js"></script>

<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WorkspaceConst.js' %}"></script>
        

        
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/ConfigClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAppClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllViewClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AdminMenuGroupClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAdminMenuClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PositionClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/FooterItemClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WidgetClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/TimeZoneClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PageInfoClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/BotUAClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/RobotsArgClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/LogoImagesClasses.js' %}"></script>
            

<div class="card shadow mb-1">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          <a class="btn btn-primary btn-sm" href="{% url 'Workspace:AdminMenuGroupView' %}">
            Danh sách   Nhóm Admin Menu 
          </a>
          <a href="{% url 'Workspace:AdminMenuGroup_EditView' slug=current_adminmenugroup.uuid %}">
            Hiện tại   Nhóm Admin Menu : {{ current_adminmenugroup.name|title }}
          </a>
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            {% if current_adminmenugroup.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="adminmenugroupWorkspaceEditFormId" data-uuid="{{ current_adminmenugroup.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="WorkspaceadminmenugroupEditFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}
            
                    <div class="mb-1 col-xl-6 d-none">
                 
                   <label class="small mb-1">Id</label>
                   
                    <input id="idAdminMenuGroupWorkspaceInputId" name="id" class="form-control id-adminmenugroup-workspace-input" placeholder="Điền thông tin Id of AdminMenuGroup" type="text" value="{{ current_adminmenugroup.id}}">
                    </div>
            
                    <div class="mb-1 col-xl-6 d-none">
                    <label class="small mb-1">Uuid</label>
                    <input id="uuidAdminMenuGroupWorkspaceInputId" name="uuid" class="form-control uuid-adminmenugroup-workspace-input" placeholder="Điền thông tin Uuid of AdminMenuGroup" type="text" value="{{ current_adminmenugroup.uuid}}">
                    </div>
            <div class="row gx-2 mb-2">
        <div class=" mb-1 col-xl-6">
                                    <label class="small mb-1">Name</label>
                                    
            <input id="nameAdminMenuGroupWorkspaceInputId"  name="name" class=" form-control name-adminmenugroup-workspace-input" placeholder="Điền thông tin Name" type="text" value="{{ current_adminmenugroup.name}}">
                                </div>
                                
        <div class=" mb-1 col-xl-6">
                                    <label class="small mb-1">Title</label>
                                    
            <input id="titleAdminMenuGroupWorkspaceInputId"  name="title" class=" form-control title-adminmenugroup-workspace-input" placeholder="Điền thông tin Title" type="text" value="{{ current_adminmenugroup.title}}">
                                </div>
                                </div><div class="row gx-2 mb-2">
        <div class=" mb-1 col-xl-12">
                                    <label class="small mb-1">Icon_Class</label>
                                    
            <input id="icon_classAdminMenuGroupWorkspaceInputId"  name="icon_class" class=" form-control icon_class-adminmenugroup-workspace-input" placeholder="Điền thông tin Icon_Class" type="text" value="{{ current_adminmenugroup.icon_class}}">
                                </div>
                                </div><div class="row gx-2 mb-2">
        <div class="mb-1 col-xl-6">
            <div class="form-check mt-4">
                {% if current_adminmenugroup.active == True %}
                <input id="activeAdminMenuGroupWorkspaceInputId"  name="active" type="checkbox" class="  form-check-input active-adminmenugroup-workspace-input" placeholder="Điền thông tin Active" value="{{ current_adminmenugroup.active}}" checked>
                {% else %}
                <input id="activeAdminMenuGroupWorkspaceInputId"  name="active" type="checkbox" class=" form-check-input active-adminmenugroup-workspace-input" placeholder="Điền thông tin Active" value="{{ current_adminmenugroup.active}}">
                {% endif %}
                <label class="form-check-label" for="activeAdminMenuGroupWorkspaceInputId">
                    Active
                </label>
            </div>
        </div>
                                
                <div class="mb-1 col-xl-6">
                    <label  for="related_appsAllAppAdminMenuGroupWorkspaceInputId">{% trans 'Related Apps' %}</label>
                    <select  style="width: 100%;" class="   form-control allapp-workspace-select" name="related_apps" id="related_appsAllAppAdminMenuGroupWorkspaceInputId">
                        <option selected value="">Lựa chọn</option>
                    </select>
                </div>
                                </div><div class="row gx-2 mb-2"></div><div class="row gx-2 mb-2">
        <div class="mb-1 col-xl-12">
            <div class="form-check mt-4">
                {% if current_adminmenugroup.staff_only == True %}
                <input id="staff_onlyAdminMenuGroupWorkspaceInputId"  name="staff_only" type="checkbox" class="  form-check-input staff_only-adminmenugroup-workspace-input" placeholder="Điền thông tin Staff_Only" value="{{ current_adminmenugroup.staff_only}}" checked>
                {% else %}
                <input id="staff_onlyAdminMenuGroupWorkspaceInputId"  name="staff_only" type="checkbox" class=" form-check-input staff_only-adminmenugroup-workspace-input" placeholder="Điền thông tin Staff_Only" value="{{ current_adminmenugroup.staff_only}}">
                {% endif %}
                <label class="form-check-label" for="staff_onlyAdminMenuGroupWorkspaceInputId">
                    Staff_Only
                </label>
            </div>
        </div>
                                </div><div class="row gx-2 mb-2">
        <div class="mb-1 col-xl-12">
            <div class="form-check mt-4">
                {% if current_adminmenugroup.superuser_only == True %}
                <input id="superuser_onlyAdminMenuGroupWorkspaceInputId"  name="superuser_only" type="checkbox" class="  form-check-input superuser_only-adminmenugroup-workspace-input" placeholder="Điền thông tin Superuser_Only" value="{{ current_adminmenugroup.superuser_only}}" checked>
                {% else %}
                <input id="superuser_onlyAdminMenuGroupWorkspaceInputId"  name="superuser_only" type="checkbox" class=" form-check-input superuser_only-adminmenugroup-workspace-input" placeholder="Điền thông tin Superuser_Only" value="{{ current_adminmenugroup.superuser_only}}">
                {% endif %}
                <label class="form-check-label" for="superuser_onlyAdminMenuGroupWorkspaceInputId">
                    Superuser_Only
                </label>
            </div>
        </div>
                                </div><div class="row gx-2 mb-2">

         <div class=" mb-1 col-xl-12">
            <label class="small mb-1">Order</label>
            <input id="orderAdminMenuGroupWorkspaceInputId"  name="order" class=" form-control order-adminmenugroup-workspace-input" placeholder="Điền thông tin Order" type="text" value="{{ current_adminmenugroup.order}}">
        </div>
                                </div>
<div class="modal-footer">
    <button id="adminmenugroupWorkspaceCancelBtnId" type="button" class="btn btn-danger btn-sm"><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
    <button id="adminmenugroupWorkspaceUpdateBtnId" type="button" class="btn btn-info btn-sm"><i class="fas fa-save"></i>&nbsp;Cập nhật</button>
    <button id="adminmenugroupWorkspaceDeleteBtnId" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>&nbsp;Xóa</button>
    <button id="adminmenugroupWorkspaceTestEditBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
</div>
            

            </form>
        </fieldset>
    </div>
</div>
            