
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


<script src="/static/sbadminpro/js/jquery/dist/jquery.min.js"></script>

<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WorkspaceConst.js' %}"></script>
        

        
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/ConfigClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAppClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllViewClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AdminMenuGroupClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAdminMenuClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PositionClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/FooterItemClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WidgetClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/TimeZoneClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PageInfoClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/BotUAClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/RobotsArgClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/LogoImagesClasses.js' %}"></script>
            

<div class="card shadow mb-1">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          <a class="btn btn-primary btn-sm" href="{% url 'Workspace:AllAppView' %}">
            Danh sách   Danh Sách Webapp 
          </a>
          <a href="{% url 'Workspace:AllApp_DetailView' slug=current_allapp.uuid %}">
            Hiện tại   Danh Sách Webapp : {{ current_allapp.name|title }}
          </a>
          <a class="btn btn-primary btn-sm" href="{% url 'Workspace:AllApp_EditView' slug=current_allapp.uuid %}">
            Chỉnh sửa
          </a>
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            {% if current_allapp.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="allappWorkspaceDetailFormId" data-uuid="{{ current_allapp.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="allappWorkspaceDetailFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}

            
                    <div class="mb-1 col-xl-6 d-none">
                       <label class="small mb-1">Id</label>
                        {% if current_id %}
                            <input id="idAllAppWorkspaceInputId" name="id" class="form-control id-allapp-workspace-input" placeholder="Điền thông tin Id of AllApp" type="text" value="{{ current_allapp.id}}">
                        {% else %}
                            <input id="idAllAppWorkspaceInputId" name="id" class="form-control id-allapp-workspace-input" placeholder="Điền thông tin Id of AllApp" type="text" value="">
                        {% endif %}
                    </div>
            
                    <div class="mb-1 col-xl-6 d-none">
                        <label class="small mb-1">Uuid</label>
                        {% if current_uuid %}
                            <input id="uuidAllAppWorkspaceInputId" name="uuid" class="form-control uuid-allapp-workspace-input" placeholder="Điền thông tin Uuid of AllApp" type="text" value="{{ current_allapp.uuid}}">
                        {% else %}
                            <input id="uuidAllAppWorkspaceInputId" name="uuid" class="form-control uuid-allapp-workspace-input" placeholder="Điền thông tin Uuid of AllApp" type="text" value="">
                        {% endif %}
                    </div>
            <div class="row gx-2 mb-2">
                                    <div class=" mb-1 col-xl-6">
                                     <label class="small mb-1">Name</label>
                                    <input id="nameAllAppWorkspaceInputId" name="name" class="form-control name-allapp-workspace-input" placeholder="Điền thông tin Name" type="text" value="{{ current_allapp.name}}" readonly>
                                </div>
                                
                                    <div class=" mb-1 col-xl-6">
                                     <label class="small mb-1">Short Name</label>
                                    <input id="short_nameAllAppWorkspaceInputId" name="short_name" class="form-control short_name-allapp-workspace-input" placeholder="Điền thông tin Short_Name" type="text" value="{{ current_allapp.short_name}}" readonly>
                                </div>
                                </div><div class="row gx-2 mb-2">
                                    <div class=" mb-1 col-xl-6">
                                     <label class="small mb-1">Url For App. If Null Or Blank</label>
                                    <input id="urlAllAppWorkspaceInputId" name="url" class="form-control url-allapp-workspace-input" placeholder="Điền thông tin Url For App. If Null Or Blank" type="text" value="{{ current_allapp.url}}" readonly>
                                </div>
                                
                                    <div class=" mb-1 col-xl-6">
                                     <label class="small mb-1">"Target On Click!"</label>
                                    <input id="href_targetAllAppWorkspaceInputId" name="href_target" class="form-control href_target-allapp-workspace-input" placeholder="Điền thông tin "Target On Click!"" type="text" value="{{ current_allapp.href_target}}" readonly>
                                </div>
                                </div><div class="row gx-2 mb-2">
                        <div class="mb-1 col-xl-12">
                            <label for="iconAllAppWorkspaceInputId"><i class="fas fa-paperclip"></i>&nbsp;{% trans 'Logo for app. If blank' %}</label>
                                <input class="allapp-workspace form-control-file form-control d-none allapp-workspace-file icon-allapp-workspace-file-input"  type="file" name="icon" class="" id="iconAllAppWorkspaceInputId">
                            <div class="col-xl-12" id="iconAllAppWorkspaceFileAreaId">    
                            {% if current_allapp.icon %}
  
                                <div class="form-group row col-xl-8 table-hover mt-1" style="background-color:gainsboro;height: 25px;" id="{{ current_allapp.uuid }}AttachmentDivId">
                                    <div class="col-xl-10 " >
                                        <span><a style="color:cornflowerblue" target="_blank"  href="{{ current_allapp.icon.url }}"><p><b> {{ current_allapp.icon_filename|title }}</b></p></a></span>
                                    </div>
                                    <div class="col-xl-2 text-end">
                                        <i class="fas fa-times" style="color:gray" file-uuid="{{ current_allapp.uuid }}" onclick="iconallappWorkspaceDeletedAttacthment(this)"></i>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        </div>

                    </div><div class="row gx-2 mb-2">
                                <div class="mb-1 col-xl-12">
                                    <div class="form-check mt-4">
                                        {% if current_allapp.active == True %}
                                        <input id="activeAllAppWorkspaceInputId" name="active" type="checkbox" class="form-check-input active-allapp-workspace-input" placeholder="Điền thông tin Active" value="{{ current_allapp.active}}" checked  disabled="true">
                                        {% else %}
                                        <input id="activeAllAppWorkspaceInputId" name="active" type="checkbox" class="form-check-input active-allapp-workspace-input" placeholder="Điền thông tin Active" value="{{ current_allapp.active}}"  disabled="true">
                                        {% endif %}
                                        <label class="form-check-label" for="activeAllAppWorkspaceInputId">
                                            Active
                                        </label>
                                    </div>
                                </div>
                                </div><div class="row gx-2 mb-2">
                                <div class="mb-1 col-xl-12">
                                    <div class="form-check mt-4">
                                        {% if current_allapp.is_product == True %}
                                        <input id="is_productAllAppWorkspaceInputId" name="is_product" type="checkbox" class="form-check-input is_product-allapp-workspace-input" placeholder="Điền thông tin If Not Is A Product" value="{{ current_allapp.is_product}}" checked  disabled="true">
                                        {% else %}
                                        <input id="is_productAllAppWorkspaceInputId" name="is_product" type="checkbox" class="form-check-input is_product-allapp-workspace-input" placeholder="Điền thông tin If Not Is A Product" value="{{ current_allapp.is_product}}"  disabled="true">
                                        {% endif %}
                                        <label class="form-check-label" for="is_productAllAppWorkspaceInputId">
                                            If Not Is A Product
                                        </label>
                                    </div>
                                </div>
                                </div><div class="row gx-2 mb-2">
                                <div class="mb-1 col-xl-12">
                                    <div class="form-check mt-4">
                                        {% if current_allapp.staff_only == True %}
                                        <input id="staff_onlyAllAppWorkspaceInputId" name="staff_only" type="checkbox" class="form-check-input staff_only-allapp-workspace-input" placeholder="Điền thông tin Chỉ Quyền Staff Mới Truy Cập Được!" value="{{ current_allapp.staff_only}}" checked  disabled="true">
                                        {% else %}
                                        <input id="staff_onlyAllAppWorkspaceInputId" name="staff_only" type="checkbox" class="form-check-input staff_only-allapp-workspace-input" placeholder="Điền thông tin Chỉ Quyền Staff Mới Truy Cập Được!" value="{{ current_allapp.staff_only}}"  disabled="true">
                                        {% endif %}
                                        <label class="form-check-label" for="staff_onlyAllAppWorkspaceInputId">
                                            Chỉ Quyền Staff Mới Truy Cập Được!
                                        </label>
                                    </div>
                                </div>
                                </div><div class="row gx-2 mb-2">
                                <div class="mb-1 col-xl-12">
                                    <div class="form-check mt-4">
                                        {% if current_allapp.admin_only == True %}
                                        <input id="admin_onlyAllAppWorkspaceInputId" name="admin_only" type="checkbox" class="form-check-input admin_only-allapp-workspace-input" placeholder="Điền thông tin Chỉ Quyền Super Admin Mới Truy Cập Được!" value="{{ current_allapp.admin_only}}" checked  disabled="true">
                                        {% else %}
                                        <input id="admin_onlyAllAppWorkspaceInputId" name="admin_only" type="checkbox" class="form-check-input admin_only-allapp-workspace-input" placeholder="Điền thông tin Chỉ Quyền Super Admin Mới Truy Cập Được!" value="{{ current_allapp.admin_only}}"  disabled="true">
                                        {% endif %}
                                        <label class="form-check-label" for="admin_onlyAllAppWorkspaceInputId">
                                            Chỉ Quyền Super Admin Mới Truy Cập Được!
                                        </label>
                                    </div>
                                </div>
                                </div><div class="row gx-2 mb-2">
                                <div class="mb-1 col-xl-12">
                                    <label class="small mb-1">Order</label>
                                    
                                    <input id="orderAllAppWorkspaceInputId" name="order" class="form-control order-allapp-workspace-input" placeholder="Điền thông tin Order" type="text" value="{{ current_allapp.order}}" readonly>
                                </div>
                                </div>
                    <div class="modal-footer">
                        <button id="allappWorkspaceCancelBtnId" type="button" class="btn btn-danger btn-sm"><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                        <button id="allappWorkspaceTestBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
                    </div>
            
            
            </form>
        </fieldset>
    </div>
</div>
            