
            {% load static %} {% load i18n %} {% load humanize %} {% load tz %}
            
           
<div class="modal fade" id="pageinfoWorkspaceEditmodalsId" data-backdrop="static" data-keyboard="true"  tabindex="-1" role="dialog" aria-labelledby="pageinfoWorkspaceEditmodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
        <form method="POST" action="" enctype="multipart/form-data" id="pageinfoWorkspaceEditModalsFormId" data-uuid="">
            <div class="modal-header">
                <h3 class="modal-title">Chỉnh sửa   PageInfo </h3>
<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group px-lg-5 text-start">
            
            
<div class="mb-1 col-xl-6 d-none">
   <label class="small mb-1">Id</label>
    <input id="idPageInfoWorkspaceEditModalInputId" name="id" class="form-control id-pageinfo-workspace-input" placeholder="Điền thông tin Id of PageInfo" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
    <label class="small mb-1">Uuid</label>
    <input id="uuidPageInfoWorkspaceEditModalInputId" name="uuid" class="form-control uuid-pageinfo-workspace-input" placeholder="Điền thông tin Uuid of PageInfo" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
    <label class="small mb-1">Uuid</label>
    <input id="uuidPageInfoWorkspaceEditModalInputId" name="uuid" class="form-control uuid-pageinfo-workspace-input" placeholder="Điền thông tin Uuid of PageInfo" type="text" value="">
</div>
            <div class="row gx-2 mb-2">
        <div class=" mb-1 col-xl-6">
                                    <label class="small mb-1">Name</label>
                                    
            <input id="namePageInfoWorkspaceEditModalInputId"  name="name" class=" form-control name-pageinfo-workspace-input" placeholder="Điền thông tin Name" type="text" value="{{ current_pageinfo.name}}">
                                </div>
                                

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Title</label>
                    <textarea id="titlePageInfoWorkspaceEditModalInputId"  name="title" class=" form-control title-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Title" type="text" rows="4" cols="80">{{ current_pageinfo.title}}</textarea>

                </div>
                                </div><div class="row gx-2 mb-2">
        <div class=" mb-1 col-xl-12">
                                    <label class="small mb-1">Charset</label>
                                    
            <input id="charsetPageInfoWorkspaceEditModalInputId"  name="charset" class=" form-control charset-pageinfo-workspace-input" placeholder="Điền thông tin Charset" type="text" value="{{ current_pageinfo.charset}}">
                                </div>
                                </div><div class="row gx-2 mb-2">

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Desc</label>
                    <textarea id="descPageInfoWorkspaceEditModalInputId"  name="desc" class=" form-control desc-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Desc" type="text" rows="4" cols="80">{{ current_pageinfo.desc}}</textarea>

                </div>
                                

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Header</label>
                    <textarea id="headerPageInfoWorkspaceEditModalInputId"  name="header" class=" form-control header-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Header" type="text" rows="4" cols="80">{{ current_pageinfo.header}}</textarea>

                </div>
                                </div><div class="row gx-2 mb-2">

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Meta_Description</label>
                    <textarea id="meta_descriptionPageInfoWorkspaceEditModalInputId"  name="meta_description" class=" form-control meta_description-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Meta_Description" type="text" rows="4" cols="80">{{ current_pageinfo.meta_description}}</textarea>

                </div>
                                

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Meta_Keywords</label>
                    <textarea id="meta_keywordsPageInfoWorkspaceEditModalInputId"  name="meta_keywords" class=" form-control meta_keywords-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Meta_Keywords" type="text" rows="4" cols="80">{{ current_pageinfo.meta_keywords}}</textarea>

                </div>
                                </div><div class="row gx-2 mb-2">
        <div class="mb-1 col-xl-12">
            <div class="form-check mt-4">
                {% if current_pageinfo.active == True %}
                <input id="activePageInfoWorkspaceEditModalInputId"  name="active" type="checkbox" class="  form-check-input active-pageinfo-workspace-input" placeholder="Điền thông tin Active" value="{{ current_pageinfo.active}}" checked>
                {% else %}
                <input id="activePageInfoWorkspaceEditModalInputId"  name="active" type="checkbox" class=" form-check-input active-pageinfo-workspace-input" placeholder="Điền thông tin Active" value="{{ current_pageinfo.active}}">
                {% endif %}
                <label class="form-check-label" for="activePageInfoWorkspaceEditModalInputId">
                    Active
                </label>
            </div>
        </div>
                                </div>
             </div> </div>
                    <div class="modal-footer">
                        <button id="pageinfoWorkspaceCancelEditModalBtnId" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" ><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                        <button id="pageinfoWorkspaceUpdateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                        
                        <button id="pageinfoWorkspaceTestEditModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
                    </div>
            
            </div>
                        </form>
                        </div>
                </div>
            </div>
            
            