
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


<script src="/static/sbadminpro/js/jquery/dist/jquery.min.js"></script>

<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WorkspaceConst.js' %}"></script>
        

        
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/ConfigClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAppClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllViewClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AdminMenuGroupClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAdminMenuClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PositionClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/FooterItemClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WidgetClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/TimeZoneClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PageInfoClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/BotUAClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/RobotsArgClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/LogoImagesClasses.js' %}"></script>
            

<div class="card shadow mb-1">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          <a class="btn btn-primary btn-sm" href="{% url 'Workspace:PageInfoView' %}">
            Danh sách   PageInfo 
          </a>
          <a href="{% url 'Workspace:PageInfo_EditView' slug=current_pageinfo.uuid %}">
            Hiện tại   PageInfo : {{ current_pageinfo.name|title }}
          </a>
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            {% if current_pageinfo.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="pageinfoWorkspaceEditFormId" data-uuid="{{ current_pageinfo.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="WorkspacepageinfoEditFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}
            
                    <div class="mb-1 col-xl-6 d-none">
                 
                   <label class="small mb-1">Id</label>
                   
                    <input id="idPageInfoWorkspaceInputId" name="id" class="form-control id-pageinfo-workspace-input" placeholder="Điền thông tin Id of PageInfo" type="text" value="{{ current_pageinfo.id}}">
                    </div>
            
                    <div class="mb-1 col-xl-6 d-none">
                    <label class="small mb-1">Uuid</label>
                    <input id="uuidPageInfoWorkspaceInputId" name="uuid" class="form-control uuid-pageinfo-workspace-input" placeholder="Điền thông tin Uuid of PageInfo" type="text" value="{{ current_pageinfo.uuid}}">
                    </div>
            <div class="row gx-2 mb-2">
        <div class=" mb-1 col-xl-6">
                                    <label class="small mb-1">Name</label>
                                    
            <input id="namePageInfoWorkspaceInputId"  name="name" class=" form-control name-pageinfo-workspace-input" placeholder="Điền thông tin Name" type="text" value="{{ current_pageinfo.name}}">
                                </div>
                                

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Title</label>
                    <textarea id="titlePageInfoWorkspaceInputId"  name="title" class=" form-control title-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Title" type="text" rows="4" cols="80">{{ current_pageinfo.title}}</textarea>

                </div>
                                </div><div class="row gx-2 mb-2">
        <div class=" mb-1 col-xl-12">
                                    <label class="small mb-1">Charset</label>
                                    
            <input id="charsetPageInfoWorkspaceInputId"  name="charset" class=" form-control charset-pageinfo-workspace-input" placeholder="Điền thông tin Charset" type="text" value="{{ current_pageinfo.charset}}">
                                </div>
                                </div><div class="row gx-2 mb-2">

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Desc</label>
                    <textarea id="descPageInfoWorkspaceInputId"  name="desc" class=" form-control desc-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Desc" type="text" rows="4" cols="80">{{ current_pageinfo.desc}}</textarea>

                </div>
                                

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Header</label>
                    <textarea id="headerPageInfoWorkspaceInputId"  name="header" class=" form-control header-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Header" type="text" rows="4" cols="80">{{ current_pageinfo.header}}</textarea>

                </div>
                                </div><div class="row gx-2 mb-2">

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Meta_Description</label>
                    <textarea id="meta_descriptionPageInfoWorkspaceInputId"  name="meta_description" class=" form-control meta_description-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Meta_Description" type="text" rows="4" cols="80">{{ current_pageinfo.meta_description}}</textarea>

                </div>
                                

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Meta_Keywords</label>
                    <textarea id="meta_keywordsPageInfoWorkspaceInputId"  name="meta_keywords" class=" form-control meta_keywords-pageinfo-workspace-input ckeditor-input" placeholder="Điền thông tin Meta_Keywords" type="text" rows="4" cols="80">{{ current_pageinfo.meta_keywords}}</textarea>

                </div>
                                </div><div class="row gx-2 mb-2">
        <div class="mb-1 col-xl-12">
            <div class="form-check mt-4">
                {% if current_pageinfo.active == True %}
                <input id="activePageInfoWorkspaceInputId"  name="active" type="checkbox" class="  form-check-input active-pageinfo-workspace-input" placeholder="Điền thông tin Active" value="{{ current_pageinfo.active}}" checked>
                {% else %}
                <input id="activePageInfoWorkspaceInputId"  name="active" type="checkbox" class=" form-check-input active-pageinfo-workspace-input" placeholder="Điền thông tin Active" value="{{ current_pageinfo.active}}">
                {% endif %}
                <label class="form-check-label" for="activePageInfoWorkspaceInputId">
                    Active
                </label>
            </div>
        </div>
                                </div>
<div class="modal-footer">
    <button id="pageinfoWorkspaceCancelBtnId" type="button" class="btn btn-danger btn-sm"><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
    <button id="pageinfoWorkspaceUpdateBtnId" type="button" class="btn btn-info btn-sm"><i class="fas fa-save"></i>&nbsp;Cập nhật</button>
    <button id="pageinfoWorkspaceDeleteBtnId" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>&nbsp;Xóa</button>
    <button id="pageinfoWorkspaceTestEditBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
</div>
            

            </form>
        </fieldset>
    </div>
</div>
            