
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


<script src="/static/sbadminpro/js/jquery/dist/jquery.min.js"></script>

<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WorkspaceConst.js' %}"></script>
        

        
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/ConfigClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAppClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllViewClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AdminMenuGroupClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAdminMenuClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PositionClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/FooterItemClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WidgetClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/TimeZoneClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PageInfoClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/BotUAClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/RobotsArgClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/LogoImagesClasses.js' %}"></script>
            
<div class="card shadow mb-1">
    <div class="card-header py-3">
        <h6>
          <a class="btn btn-primary btn-sm" href="{% url 'Workspace:TimeZoneView' %}">
            All TimeZones
          </a>
        </h6>
      <h6 class="m-0 font-weight-bold text-primary">
               TimeZone  Mới
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            {% if current_timezone.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="timezoneWorkspaceCreateFormId" data-uuid="{{ current_timezone.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="timezoneWorkspaceCreateFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}

            
<div class="mb-1 col-xl-6 d-none">
    <label class="small mb-1">Id</label>
    <input id="idTimeZoneWorkspaceInputId" name="id" class="form-control id-timezone-workspace-input" placeholder="Điền thông tin Id of TimeZone" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
   <label class="small mb-1">Uuid</label>
    <input id="uuidTimeZoneWorkspaceInputId" name="uuid" class="form-control uuid-timezone-workspace-input" placeholder="Điền thông tin Uuid of TimeZone" type="text" value="">
</div>
            
                    <div class="modal-footer">
                        <button id="timezoneWorkspaceCancelBtnId" type="button" class="btn btn-danger btn-sm" ><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                        <button id="timezoneWorkspaceCreateBtnId" type="button" class="btn btn-info btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                        <button id="timezoneWorkspaceSaveAndNewBtnId" type="button" class="btn btn-success btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu và tạo mới</button>
                        <button id="timezoneWorkspaceTestBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
                    </div>
            

                        </form>
                    </fieldset>
                </div>
            </div>
            