
            {% load static %} {% load i18n %} {% load humanize %} {% load tz %}
            
           
<div class="modal fade" id="timezoneWorkspaceEditmodalsId" data-backdrop="static" data-keyboard="true"  tabindex="-1" role="dialog" aria-labelledby="timezoneWorkspaceEditmodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
        <form method="POST" action="" enctype="multipart/form-data" id="timezoneWorkspaceEditModalsFormId" data-uuid="">
            <div class="modal-header">
                <h3 class="modal-title">Chỉnh sửa   TimeZone </h3>
<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group px-lg-5 text-start">
            
            
<div class="mb-1 col-xl-6 d-none">
   <label class="small mb-1">Id</label>
    <input id="idTimeZoneWorkspaceEditModalInputId" name="id" class="form-control id-timezone-workspace-input" placeholder="Điền thông tin Id of TimeZone" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
    <label class="small mb-1">Uuid</label>
    <input id="uuidTimeZoneWorkspaceEditModalInputId" name="uuid" class="form-control uuid-timezone-workspace-input" placeholder="Điền thông tin Uuid of TimeZone" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
    <label class="small mb-1">Uuid</label>
    <input id="uuidTimeZoneWorkspaceEditModalInputId" name="uuid" class="form-control uuid-timezone-workspace-input" placeholder="Điền thông tin Uuid of TimeZone" type="text" value="">
</div>
            
             </div> </div>
                    <div class="modal-footer">
                        <button id="timezoneWorkspaceCancelEditModalBtnId" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" ><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                        <button id="timezoneWorkspaceUpdateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                        
                        <button id="timezoneWorkspaceTestEditModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
                    </div>
            
            </div>
                        </form>
                        </div>
                </div>
            </div>
            
            