
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/tUtils.js' %}"></script>
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WebsiteConst.js' %}"></script>
        


<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/ConfigClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAppClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllViewClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AdminMenuGroupClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAdminMenuClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PositionClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/FooterItemClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WidgetClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/TimeZoneClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PageInfoClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/BotUAClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/RobotsArgClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/LogoImagesClasses.js' %}"></script>
            

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          <a class="btn btn-primary" href="{% url 'Website:PageInfoView' %}">
            All PageInfos
          </a>
          <a href="{% url 'Website:PageInfo_DetailView' slug=current_pageinfo.uuid %}">
            Current PageInfo: {{ current_pageinfo.name|title }}
          </a>
          <a class="btn btn-primary" href="{% url 'Website:PageInfo_EditView' slug=current_pageinfo.uuid %}">
            Edit
          </a>
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            {% if current_pageinfo.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="pageinfoWebsiteDetailFormId" data-uuid="{{ current_pageinfo.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="pageinfoWebsiteDetailFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}

            {% if current_pageinfo.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="pageinfoWebsiteDetailFormId" data-uuid="{{ current_pageinfo.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="pageinfoWebsiteDetailFormId" data-uuid="">
            {% endif %}
                {% csrf_token %}
    
<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Name
        </span>
    </div>
    {% if current_pageinfo %}
        <input id="namePageInfoWebsiteDetailInputId" name="name" class="form-control name-pageinfo-website-input" placeholder="Name" type="text" value="{{ current_pageinfo.name}}" readonly >
    {% else %}
        <input id="namePageInfoWebsiteDetailInputId" name="name" class="form-control name-pageinfo-website-input" placeholder="Name" type="text" value="" readonly >
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Uuid
        </span>
    </div>
    {% if current_pageinfo %}
        <input id="uuidPageInfoWebsiteDetailInputId" name="uuid" class="form-control uuid-pageinfo-website-input" placeholder="Uuid" type="text" value="{{ current_pageinfo.uuid}}" readonly >
    {% else %}
        <input id="uuidPageInfoWebsiteDetailInputId" name="uuid" class="form-control uuid-pageinfo-website-input" placeholder="Uuid" type="text" value="" readonly >
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Title
        </span>
    </div>
    {% if current_pageinfo %}
        <textarea rows="10" id="titlePageInfoWebsiteDetailInputId" name="title" class="form-control ckeditor-input w-100 title-pageinfo-website-input" placeholder="Title" type="text" value="" readonly>{{  current_pageinfo.title }}</textarea>
    {% else %}
        <textarea rows="10" id="titlePageInfoWebsiteDetailInputId" name="title" class="form-control ckeditor-input w-100 title-pageinfo-website-input" placeholder="Title" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Charset
        </span>
    </div>
    {% if current_pageinfo %}
        <input id="charsetPageInfoWebsiteDetailInputId" name="charset" class="form-control charset-pageinfo-website-input" placeholder="Charset" type="text" value="{{ current_pageinfo.charset}}" readonly >
    {% else %}
        <input id="charsetPageInfoWebsiteDetailInputId" name="charset" class="form-control charset-pageinfo-website-input" placeholder="Charset" type="text" value="" readonly >
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Header
        </span>
    </div>
    {% if current_pageinfo %}
        <textarea rows="10" id="headerPageInfoWebsiteDetailInputId" name="header" class="form-control ckeditor-input w-100 header-pageinfo-website-input" placeholder="Header" type="text" value="" readonly>{{  current_pageinfo.header }}</textarea>
    {% else %}
        <textarea rows="10" id="headerPageInfoWebsiteDetailInputId" name="header" class="form-control ckeditor-input w-100 header-pageinfo-website-input" placeholder="Header" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Desc
        </span>
    </div>
    {% if current_pageinfo %}
        <textarea rows="10" id="descPageInfoWebsiteDetailInputId" name="desc" class="form-control ckeditor-input w-100 desc-pageinfo-website-input" placeholder="Desc" type="text" value="" readonly>{{  current_pageinfo.desc }}</textarea>
    {% else %}
        <textarea rows="10" id="descPageInfoWebsiteDetailInputId" name="desc" class="form-control ckeditor-input w-100 desc-pageinfo-website-input" placeholder="Desc" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Meta Description
        </span>
    </div>
    {% if current_pageinfo %}
        <textarea rows="10" id="meta_descriptionPageInfoWebsiteDetailInputId" name="meta_description" class="form-control ckeditor-input w-100 meta_description-pageinfo-website-input" placeholder="Meta Description" type="text" value="" readonly>{{  current_pageinfo.meta_description }}</textarea>
    {% else %}
        <textarea rows="10" id="meta_descriptionPageInfoWebsiteDetailInputId" name="meta_description" class="form-control ckeditor-input w-100 meta_description-pageinfo-website-input" placeholder="Meta Description" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Meta Keywords
        </span>
    </div>
    {% if current_pageinfo %}
        <textarea rows="10" id="meta_keywordsPageInfoWebsiteDetailInputId" name="meta_keywords" class="form-control ckeditor-input w-100 meta_keywords-pageinfo-website-input" placeholder="Meta Keywords" type="text" value="" readonly>{{  current_pageinfo.meta_keywords }}</textarea>
    {% else %}
        <textarea rows="10" id="meta_keywordsPageInfoWebsiteDetailInputId" name="meta_keywords" class="form-control ckeditor-input w-100 meta_keywords-pageinfo-website-input" placeholder="Meta Keywords" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="form-check">
        {% if current_pageinfo.active == True %}
            <input id="activePageInfoWebsiteDetailInputId" name="active" type="checkbox" class="form-check-input active-pageinfo-website-input" placeholder="Active" checked disabled>
        {% else %}
            <input id="activePageInfoWebsiteDetailInputId" name="active" type="checkbox" class="form-check-input active-pageinfo-website-input" placeholder="Active" disabled>
        {% endif %}
        <label class="form-check-label" for="activePageInfoWebsiteDetailInputIdInputId">
            Active
        </label>
    </div>
</div>
        
<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Updated At
        </span>
    </div>
    {% if current_pageinfo %}
        <input id="updated_atPageInfoWebsiteDetailInputId" name="updated_at" class="form-control updated_at-pageinfo-website-input" placeholder="Updated At" type="datetime-local" value="{{ current_pageinfo.updated_at }}" readonly>
    {% else %}
        <input id="updated_atPageInfoWebsiteDetailInputId" name="updated_at" class="form-control updated_at-pageinfo-website-input" placeholder="Updated At" type="datetime-local" value="" readonly>
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Created At
        </span>
    </div>
    {% if current_pageinfo %}
        <input id="created_atPageInfoWebsiteDetailInputId" name="created_at" class="form-control created_at-pageinfo-website-input" placeholder="Created At" type="datetime-local" value="{{ current_pageinfo.created_at }}" readonly>
    {% else %}
        <input id="created_atPageInfoWebsiteDetailInputId" name="created_at" class="form-control created_at-pageinfo-website-input" placeholder="Created At" type="datetime-local" value="" readonly>
    {% endif %}
</div>

    <div class="modal-footer">
        <button id="pageinfoWebsiteTestBtnId" type="button" class="btn btn-warning">Test</button>
    </div>
            
        </form>

        </fieldset>
    </div>
</div>
            
{% include 'Workspace/'|add:website_template|add:'/admin/includes/Modal--FilePreview.html' %}

