
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/tUtils.js' %}"></script>
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WebsiteConst.js' %}"></script>
        

        
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/ConfigClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAppClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllViewClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AdminMenuGroupClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAdminMenuClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PositionClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/FooterItemClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WidgetClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/TimeZoneClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PageInfoClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/BotUAClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/RobotsArgClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/LogoImagesClasses.js' %}"></script>
            

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          <a class="btn btn-primary" href="{% url 'Website:RobotsArgView' %}">
            All RobotsArgs
          </a>
          <a href="{% url 'Website:RobotsArg_EditView' slug=current_robotsarg.uuid %}">
            Current RobotsArg: {{ current_robotsarg.name|title }}
          </a>
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            
            {% if current_robotsarg.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="robotsargWebsiteEditFormId" data-uuid="{{ current_robotsarg.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="robotsargWebsiteEditFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}
    
<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Name
        </span>
    </div>
    {% if current_robotsarg %}
        <input id="nameRobotsArgWebsiteEditInputId" name="name" class="form-control name-robotsarg-website-input" placeholder="Name" type="text" value="{{ current_robotsarg.name}}"  >
    {% else %}
        <input id="nameRobotsArgWebsiteEditInputId" name="name" class="form-control name-robotsarg-website-input" placeholder="Name" type="text" value=""  >
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Uuid
        </span>
    </div>
    {% if current_robotsarg %}
        <input id="uuidRobotsArgWebsiteEditInputId" name="uuid" class="form-control uuid-robotsarg-website-input" placeholder="Uuid" type="text" value="{{ current_robotsarg.uuid}}"  >
    {% else %}
        <input id="uuidRobotsArgWebsiteEditInputId" name="uuid" class="form-control uuid-robotsarg-website-input" placeholder="Uuid" type="text" value=""  >
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Value
        </span>
    </div>
    {% if current_robotsarg %}
        <textarea rows="10" id="valueRobotsArgWebsiteEditInputId" name="value" class="form-control ckeditor-input w-100 value-robotsarg-website-input" placeholder="Value" type="text" value="" >{{  current_robotsarg.value }}</textarea>
    {% else %}
        <textarea rows="10" id="valueRobotsArgWebsiteEditInputId" name="value" class="form-control ckeditor-input w-100 value-robotsarg-website-input" placeholder="Value" type="text" value="" ></textarea>
    {% endif %}
</div>

    <div class="input-group mb-3  ">
        <div class="input-group-prepend">
            <label class="" for="uaBotUARobotsArgWebsiteInputId">{% trans 'Ua' %}</label>
        </div>
        <select class="custom-select tnd-select2 autoload ua-robotsarg-website-option botua-website-select"  name="ua" id="uaBotUARobotsArgWebsiteInputId" >
        <option selected>Choose... Ua</option>
        {% for ele in all_botuas %}
            {% if ele.uuid == current_robotsarg.ua.uuid %}
                <option value="{{ ele.uuid }}" selected>
                    {{ ele.name }}
                </option>
            {% else %}
                <option value="{{ ele.uuid }}">
                    {{ ele.name }}
                </option>
            {% endif %}
        {% endfor %}
        </select>
    </div>
    
<div class="form-group input-group  ">
    <div class="form-check">
        {% if current_robotsarg.active == True %}
            <input id="activeRobotsArgWebsiteEditInputId" name="active" type="checkbox" class="form-check-input active-robotsarg-website-input" placeholder="Active" checked >
        {% else %}
            <input id="activeRobotsArgWebsiteEditInputId" name="active" type="checkbox" class="form-check-input active-robotsarg-website-input" placeholder="Active" >
        {% endif %}
        <label class="form-check-label" for="activeRobotsArgWebsiteEditInputIdInputId">
            Active
        </label>
    </div>
</div>
        
<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Updated At
        </span>
    </div>
    {% if current_robotsarg %}
        <input id="updated_atRobotsArgWebsiteEditInputId" name="updated_at" class="form-control updated_at-robotsarg-website-input" placeholder="Updated At" type="datetime-local" value="{{ current_robotsarg.updated_at }}" >
    {% else %}
        <input id="updated_atRobotsArgWebsiteEditInputId" name="updated_at" class="form-control updated_at-robotsarg-website-input" placeholder="Updated At" type="datetime-local" value="" >
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Created At
        </span>
    </div>
    {% if current_robotsarg %}
        <input id="created_atRobotsArgWebsiteEditInputId" name="created_at" class="form-control created_at-robotsarg-website-input" placeholder="Created At" type="datetime-local" value="{{ current_robotsarg.created_at }}" >
    {% else %}
        <input id="created_atRobotsArgWebsiteEditInputId" name="created_at" class="form-control created_at-robotsarg-website-input" placeholder="Created At" type="datetime-local" value="" >
    {% endif %}
</div>

    <div class="modal-footer">
        <button id="robotsargWebsiteUpdateBtnId" type="button" class="btn btn-primary">Update</button>
        <button id="robotsargWebsiteTestBtnId" type="button" class="btn btn-warning">Test</button>
    </div>
            
        </form>

            </form>
        </fieldset>
    </div>
</div>
            
{% include 'Workspace/'|add:website_template|add:'/admin/includes/Modal--FilePreview.html' %}

