{% load static %}
{% load user_agents %}

<div class="d-none">
    {{ user_agent }}
</div>
{% if request|is_mobile %}
    {% include 'Workspace/'|add:website_template|add:'/admin/sidebar-mobile.html' %}
    <script>
    $(document).ready(function (){
        //$("body").toggleClass("sidebar-toggled");
        //$(".sidebar").toggleClass("toggled");
        //if ($(".sidebar").hasClass("toggled")) {
        //  $('.sidebar .collapse').collapse('hide');
        //};
    })
    </script>
{% else %}
    {% include 'Workspace/'|add:website_template|add:'/admin/sidebar-pc.html' %}
{% endif %}