
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/tUtils.js' %}"></script>
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WebsiteConst.js' %}"></script>
        


<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/ConfigClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAppClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllViewClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AdminMenuGroupClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/AllAdminMenuClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PositionClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/FooterItemClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/WidgetClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/TimeZoneClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PageInfoClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/BotUAClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/RobotsArgClasses.js' %}"></script>
            
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/LogoImagesClasses.js' %}"></script>
            

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          <a class="btn btn-primary" href="{% url 'Website:FooterItemView' %}">
            All FooterItems
          </a>
          <a href="{% url 'Website:FooterItem_DetailView' slug=current_footeritem.uuid %}">
            Current FooterItem: {{ current_footeritem.name|title }}
          </a>
          <a class="btn btn-primary" href="{% url 'Website:FooterItem_EditView' slug=current_footeritem.uuid %}">
            Edit
          </a>
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            {% if current_footeritem.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="footeritemWebsiteDetailFormId" data-uuid="{{ current_footeritem.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="footeritemWebsiteDetailFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}

            {% if current_footeritem.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="footeritemWebsiteDetailFormId" data-uuid="{{ current_footeritem.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="footeritemWebsiteDetailFormId" data-uuid="">
            {% endif %}
                {% csrf_token %}
    
<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Name
        </span>
    </div>
    {% if current_footeritem %}
        <input id="nameFooterItemWebsiteDetailInputId" name="name" class="form-control name-footeritem-website-input" placeholder="Name" type="text" value="{{ current_footeritem.name}}" readonly >
    {% else %}
        <input id="nameFooterItemWebsiteDetailInputId" name="name" class="form-control name-footeritem-website-input" placeholder="Name" type="text" value="" readonly >
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Uuid
        </span>
    </div>
    {% if current_footeritem %}
        <input id="uuidFooterItemWebsiteDetailInputId" name="uuid" class="form-control uuid-footeritem-website-input" placeholder="Uuid" type="text" value="{{ current_footeritem.uuid}}" readonly >
    {% else %}
        <input id="uuidFooterItemWebsiteDetailInputId" name="uuid" class="form-control uuid-footeritem-website-input" placeholder="Uuid" type="text" value="" readonly >
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Desc
        </span>
    </div>
    {% if current_footeritem %}
        <textarea rows="10" id="descFooterItemWebsiteDetailInputId" name="desc" class="form-control ckeditor-input w-100 desc-footeritem-website-input" placeholder="Desc" type="text" value="" readonly>{{  current_footeritem.desc }}</textarea>
    {% else %}
        <textarea rows="10" id="descFooterItemWebsiteDetailInputId" name="desc" class="form-control ckeditor-input w-100 desc-footeritem-website-input" placeholder="Desc" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Html Code
        </span>
    </div>
    {% if current_footeritem %}
        <textarea rows="10" id="html_codeFooterItemWebsiteDetailInputId" name="html_code" class="form-control ckeditor-input w-100 html_code-footeritem-website-input" placeholder="Html Code" type="text" value="" readonly>{{  current_footeritem.html_code }}</textarea>
    {% else %}
        <textarea rows="10" id="html_codeFooterItemWebsiteDetailInputId" name="html_code" class="form-control ckeditor-input w-100 html_code-footeritem-website-input" placeholder="Html Code" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Css Code
        </span>
    </div>
    {% if current_footeritem %}
        <textarea rows="10" id="css_codeFooterItemWebsiteDetailInputId" name="css_code" class="form-control ckeditor-input w-100 css_code-footeritem-website-input" placeholder="Css Code" type="text" value="" readonly>{{  current_footeritem.css_code }}</textarea>
    {% else %}
        <textarea rows="10" id="css_codeFooterItemWebsiteDetailInputId" name="css_code" class="form-control ckeditor-input w-100 css_code-footeritem-website-input" placeholder="Css Code" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group card  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Js Code
        </span>
    </div>
    {% if current_footeritem %}
        <textarea rows="10" id="js_codeFooterItemWebsiteDetailInputId" name="js_code" class="form-control ckeditor-input w-100 js_code-footeritem-website-input" placeholder="Js Code" type="text" value="" readonly>{{  current_footeritem.js_code }}</textarea>
    {% else %}
        <textarea rows="10" id="js_codeFooterItemWebsiteDetailInputId" name="js_code" class="form-control ckeditor-input w-100 js_code-footeritem-website-input" placeholder="Js Code" type="text" value="" readonly></textarea>
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Order
        </span>
    </div>
    {% if current_footeritem %}
        <input id="orderFooterItemWebsiteDetailInputId" name="order" class="form-control order-footeritem-website-input" placeholder="Order" type="text" value="{{ current_footeritem.order}}" readonly >
    {% else %}
        <input id="orderFooterItemWebsiteDetailInputId" name="order" class="form-control order-footeritem-website-input" placeholder="Order" type="text" value="" readonly >
    {% endif %}
</div>

    <div class="input-group mb-3  ">
        <div class="input-group-prepend">
            <label class="" for="positionPositionFooterItemWebsiteInputId">{% trans 'Position' %}</label>
        </div>
        <select class="custom-select tnd-select2 autoload position-footeritem-website-option position-website-select"  name="position" id="positionPositionFooterItemWebsiteInputId" disabled>
        <option selected>Choose... Position</option>
        {% for ele in all_positions %}
            {% if ele.uuid == current_footeritem.position.uuid %}
                <option value="{{ ele.uuid }}" selected>
                    {{ ele.name }}
                </option>
            {% else %}
                <option value="{{ ele.uuid }}">
                    {{ ele.name }}
                </option>
            {% endif %}
        {% endfor %}
        </select>
    </div>
    
<div class="form-group input-group  ">
    <div class="form-check">
        {% if current_footeritem.active == True %}
            <input id="activeFooterItemWebsiteDetailInputId" name="active" type="checkbox" class="form-check-input active-footeritem-website-input" placeholder="Active" checked disabled>
        {% else %}
            <input id="activeFooterItemWebsiteDetailInputId" name="active" type="checkbox" class="form-check-input active-footeritem-website-input" placeholder="Active" disabled>
        {% endif %}
        <label class="form-check-label" for="activeFooterItemWebsiteDetailInputIdInputId">
            Active
        </label>
    </div>
</div>
        
<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Updated At
        </span>
    </div>
    {% if current_footeritem %}
        <input id="updated_atFooterItemWebsiteDetailInputId" name="updated_at" class="form-control updated_at-footeritem-website-input" placeholder="Updated At" type="datetime-local" value="{{ current_footeritem.updated_at }}" readonly>
    {% else %}
        <input id="updated_atFooterItemWebsiteDetailInputId" name="updated_at" class="form-control updated_at-footeritem-website-input" placeholder="Updated At" type="datetime-local" value="" readonly>
    {% endif %}
</div>

<div class="form-group input-group  ">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Created At
        </span>
    </div>
    {% if current_footeritem %}
        <input id="created_atFooterItemWebsiteDetailInputId" name="created_at" class="form-control created_at-footeritem-website-input" placeholder="Created At" type="datetime-local" value="{{ current_footeritem.created_at }}" readonly>
    {% else %}
        <input id="created_atFooterItemWebsiteDetailInputId" name="created_at" class="form-control created_at-footeritem-website-input" placeholder="Created At" type="datetime-local" value="" readonly>
    {% endif %}
</div>

    <div class="modal-footer">
        <button id="footeritemWebsiteTestBtnId" type="button" class="btn btn-warning">Test</button>
    </div>
            
        </form>

        </fieldset>
    </div>
</div>
            
{% include 'Workspace/'|add:website_template|add:'/admin/includes/Modal--FilePreview.html' %}

