{% load static %} {% load i18n %} {% load humanize %} {% load tz %}
<div class="modal fade" id="InformationInformationEditmodalsId" data-backdrop="static" data-keyboard="true"  tabindex="-1" role="dialog" aria-labelledby="InformationInformationEditmodalsId" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
         <form method="POST" action="" enctype="multipart/form-data" id="InformationInformationEditModalsFormId" data-uuid="">
            <div class="modal-header">
               <h3 class="modal-title">Chỉnh sửa Thông tin</h3>
               <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="form-group px-lg-5 text-start">
                  <div class="mb-1 col-xl-6 d-none">
                     <label class="small mb-1">Id</label>
                     <input id="idInformationInformationEditModalInputId" name="id" class="form-control id-Information-Information-input" placeholder="Nhập Id of Information" type="text" value="">
                  </div>
                  <input id="uuidInformationInformationEditModalInputId"  name="uuid" class="mps_required form-control uuid-Information-Information-input d-none" placeholder="Nhập mã uuid" type="text" value="">
                  <h6 class="heading-small text-muted mb-4">Thông tin chung</h6>
                  <div class="row gx-2 mb-2">
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Tên Nhân Viên </label>
                        <select id="staffInformationInformationEditModalInputId"  name="staff" class="form-select staff-Information-Information-input mps_required" placeholder="Tên" type="text" value="" readonly >
                        </select> 
                        {% comment %} <input id="staffInformationInformationEditModalInputId"  name="staff" class="mps_required form-control  staff-Information-Information-input" placeholder="Tên" type="text" value="" readonly>  {% endcomment %}
                     </div>
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Chứng Minh Thư</label>
                        <input id="id_cardInformationInformationEditModalInputId"  name="id_card" class="mps_required form-control id_card-Information-Information-input" placeholder="Nhập Chứng Minh Thư" type="text" value=""> 
                     </div>
                  </div>
                  <hr>
                  <div class="row gx-2 mb-2">
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Số Điện Thoại</label>
                        <input id="phone_numberInformationInformationEditModalInputId"  name="phone_number" class="mps_required form-control phone_number-Information-Information-input" placeholder="Nhập số điện thoại" type="text" value="">
                     </div>
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Email</label>
                        <input id="emailInformationInformationEditModalInputId"  name="email" class="mps_required form-control emai;-Information-Information-input" placeholder="Nhập email" type="text" value=""> 
                     </div>
                  </div>
                  <div class="row gx-2 mb-2">
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Thành Phố</label>
                        <select id="cityInformationInformationEditModalInputId"  name="city" class="form-select city-Information-Information-input mps_required" placeholder="Phố" type="text" value="">
                        </select>
                     </div>
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Huyện</label>
                        <select id="districtInformationInformationEditModalInputId"  name="district" class="form-select district-Information-Information-input mps_required" placeholder="Huyện" type="text" value="">
                        </select>
                     </div>
                  </div>
                  <hr>
                  <div class="row gx-2 mb-2">
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Xã</label>
                        <select id="communeInformationInformationEditModalInputId"  name="commune" class="form-select commune-Information-Information-input mps_required" placeholder="Xã" type="text" value="">
                        </select>
                     </div>
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Địa Chỉ</label>
                        <input id="addressInformationInformationEditModalInputId"  name="address" class="mps_required form-control address-Information-Information-input" placeholder="Nhập Địa Chỉ" type="text" value=""> 
                     </div>
                  </div>
                  <hr>
                  <div class="row gx-2 mb-2">
                     <div class="mb-1 col-xl-12">
                        <label for="degreeInformationInformationEditModalInputId"><i class="fas fa-paperclip"></i>&nbsp;{% trans 'Bằng cấp' %}</label>
                        <input class=" Information-Information form-control-file form-control  Information-Information-file degree-Information-Information-file-input"  type="file" name="degree"  class="" id="degreeInformationInformationEditModalInputId">
                        <div class="col-xl-12" id="degreeInformationInformationEditModalFileAreaId">
                           {% if current_Information.degree %}
                           <div class="form-group row col-xl-8 table-hover mt-1" style="background-color:gainsboro;height: 25px;" id="{{ current_Information.uuid }}AttachmentDivId">
                              <div class="col-xl-10 " >
                                 <span>
                                    <a style="color:cornflowerblue" target="_blank"  href="{{ current_Information.degree.url }}">
                                       <p><b> {{ current_Information.degree_filename|title }}</b></p>
                                    </a>
                                 </span>
                              </div>
                              <div class="col-xl-2 text-end">
                                 <i class="fas fa-times" style="color:gray" file-uuid="{{ current_Information.uuid }}" onclick="avatarInformationInformationDeletedAttacthment(this)"></i>
                              </div>
                           </div>
                           {% endif %} 
                        </div>
                     </div>
                  </div>
                  <div class="row gx-2 mb-2">
                     <div class="mb-1 col-xl-12">
                        <label for="avatarInformationInformationEditModalInputId"><i class="fas fa-paperclip"></i>&nbsp;{% trans 'avatar' %}</label>
                        <input class=" Information-Information form-control-file form-control  Information-Information-file avatar-Information-Information-file-input"  type="file" name="avatar"  class="" id="avatarInformationInformationEditModalInputId">
                        <div class="col-xl-12" id="avatarInformationInformationEditModalFileAreaId">
                           {% if current_Information.avatar %}
                           <div class="form-group row col-xl-8 table-hover mt-1" style="background-color:gainsboro;height: 25px;" id="{{ current_Information.uuid }}AttachmentDivId">
                              <div class="col-xl-10 " >
                                 <span>
                                    <a style="color:cornflowerblue" target="_blank"  href="{{ current_Information.avatar.url }}">
                                       <p><b> {{ current_Information.avatar_filename|title }}</b></p>
                                    </a>
                                 </span>
                              </div>
                              <div class="col-xl-2 text-end">
                                 <i class="fas fa-times" style="color:gray" file-uuid="{{ current_Information.uuid }}" onclick="avatarInformationInformationDeletedAttacthment(this)"></i>
                              </div>
                           </div>
                           {% endif %} 
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button id="InformationInformationCancelEditModalBtnId" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" ><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                     <button id="InformationInformationUpdateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                     {% comment %} <button id="InformationInformationTestEditModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button> {% endcomment %}
                  </div>
               </div>
         </form>
         </div>
      </div>
   </div>
</div>
</div>