
{% load static %} {% load i18n %} {% load humanize %} {% load tz %}


<div class="modal fade" id="assetByFormEditmodalsId" tabindex="-1" data-bs-backdrop="static" data-keyboard="true"  role="dialog" aria-labelledby="assetByFormEditmodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <form  id="assetByFormtEditModalsFormId" >
                <div class="modal-header">
                    <h3 class="modal-title">Chỉnh sửa mới tài sản cho Phiếu</h3>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group px-lg-5 text-start">
                        {% csrf_token %}
                        <div class="mb-1 col-xl-6 d-none">
                            <label class="small mb-1">Id</label>
                            <input id="idTypeFormFormManagementDetailId" name="id" class="form-control" placeholder="Nhập Id" type="text" >
                        </div>
                                    
                        <div class="mb-1 col-xl-6 d-none">
                            <label class="small mb-1">Uuid</label>
                            <input id="uuidTypeFormFormManagementEditModal" name="uuid_" class="form-control uuid-account-account-input mps_required" placeholder="Uuid " type="text" value="">
                        </div>

                        <h6 class="heading-small text-muted mb-4">Sửa các thông tin cho tài sản phiếu</h6>
                        
                        <div class="row gx-2 mb-2">
                            <div class=" mb-1 col-xl-6">
                                <label class="small mb-1">Tên</label>
                                <input id="nameDefaultAssetByFormFormManagementEditModal"  name="name" class="form-control named-account-account-input mps_required" placeholder="Tên Loại Phiếu" type="text" value="">
                            </div>   
                            <div class=" mb-1 col-xl-6">
                                <label class="small mb-1">Mã tài sản trong bảng</label>
                                <input id="codeAssetInTableFormManagementEditModal"  name="code" class="form-control named-account-account-input mps_required" placeholder="Tên Phiếu" type="text" value="">
                                
                            </div>                                                                       
                        </div>

                        <div class="row gx-2 mb-2">
                            <div class=" mb-1 col-xl-6">
                                <label class="small mb-1">Tài sản</label>
                                <select id="nameAssetFormManagementEditModal"  name="asset" class="form-control coded-account-account-input mps_required" placeholder="Loại Phiếu" type="text" value="">
                                    <option selected>Choose...</option> 
                                </select>  
                            </div> 
                            <div class=" mb-1 col-xl-6 d-none">
                                <label class="small mb-1">Mã tài sản trong kho</label>
                                <input id="codeFormFormManagementEditModal"  name="get_code_form" class="form-control code-account-account-input " placeholder="Mã Phiếu" type="text" value="">      
                            </div> 
                        </div>

                        <div class="row gx-2 mb-2 d-none">
                            <div class=" mb-1 col-xl-6">
                                <label class="small mb-1">Trạng thái tài sản</label>
                                <input id="contentFormFormManagementEditModal" name="current_status_asset" class="form-control " placeholder="Nội dung" type="text">
                            </div>
                        </div>
                        <div class="row gx-2 mb-2">
                            <div class=" mb-1 col-xl-6">
                                <label class="small mb-1">Phiếu</label>
                                <select id="formAssetListByFormEditModal"  name="code_form" class="form-control coded-account-account-input mps_required" placeholder="Loại Phiếu" type="text" value="">
                                    <option selected>Choose...</option> 
                                </select>   
                            </div>

                            <div class=" mb-1 col-xl-6 d-none">
                                <label class="small mb-1 ">Mã phiếu</label>
                                <input id="codeFormFormManagementEditModal"  name="get_code_form" class="form-control code-account-account-input " placeholder="Mã Phiếu" type="text" value="">      
                            </div> 
                        </div>

                        <div class="row gx-2 mb-2 d-none">
                            <div class=" mb-1 col-xl-6">
                                <label class="small mb-1">Người cập nhật</label>
                                <input id="updateByFormFormManagementEditModal"  name="updated_by" class="form-control password-account-account-input" placeholder="Người cập nhật" type="text" value="">
                                
                            </div>
                            <div class=" mb-1 col-xl-6 ">
                                <label class="small mb-1">Ngày cập nhật</label>
                                <input id="updateAtFormFormManagementEditModal"  name="updated_at" class="form-control password-account-account-input" placeholder="Ngày cập nhật" type="text" value="">
                            </div>

                        </div>
                        <div class="row gx-2 mb-2 d-none">  
                            <div class=" mb-1 col-xl-6">
                                <label class="small mb-1">Người tạo</label>
                                <input id="createdByFormFormManagementEditModal"  name="created_by" class="form-control password-account-account-input" placeholder="Người tạo" type="text" value="">
                            </div>   
                            <div class=" mb-1 col-xl-6">
                                <label class="small mb-1">Ngày tạo</label>
                                <input id="createAtFormFormManagementEditModal"  name="created_at" class="form-control password-account-account-input" placeholder="Người tạo" type="text" value="">
                            </div>                                          
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="" type="" class="btn btn-light btn-sm d-none" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                    <button id="assetByFormManagementEditModalBtnId" type="button" onclick="UpdateAssetByFormFormManagement()" class="btn btn-primary btn-sm">
                        <i class="fas fa-save"></i>
                        &nbsp;Lưu
                    </button>
                    <!-- <button id="accountAccountSaveAndNewModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="d-none fas fa-save"></i>&nbsp;Lưu và thêm mới</button> -->
                    <!-- <button id="accountAccountTestCreateModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button> -->
                </div>
            </form>
            
          
        </div>
    </div>
</div>