{% extends "arrgon/layouts/base.html" %}
<html lang="en">
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}

<head>
    <meta charset="UTF-8">
    <meta name="author" content="TruongNV <truongg.nv@gmail.com>">
    <meta name="copyright" content="Copyright ©2022 TruongNV <truongg.nv@gmail.com>">
    <script src="/static/arrgon/js/jquery/dist/jquery.min.js"></script>
    <script src="{% static 'AssetManagement/argon/admin/js/AssetManagementConst.js' %}"></script>
    <script src="{% static 'AssetManagement/argon/admin/js/AssetOfTypeClasses.js' %}"></script>
</head>
                

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}
{% block content %}
<!-- [ Main Content ] start -->
<main>
        <!-- [ breadcrumb ] start -->
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-xl px-4">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title text-white">
                                Thông tin Loại hình tài sản
                            </h1>
                        </div>
                    </div>
                    <nav class="mt-4 rounded d-none" aria-label="breadcrumb">
                        <ol class="breadcrumb px-3 py-2 rounded mb-0">
                            <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item active">Thông tin Loại hình tài sản</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </header>
         <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
            <div class="container-xl px-4 mt-n10">

        {% csrf_token %}
                      <!-- Page Heading -->
                      
                        <a>{% include 'AssetManagement/argon/admin/includes/AssetOfType--SearchIncludes.html' %}</a>
                        <a>{% include 'AssetManagement/argon/admin/includes/AssetOfType--Includes.html' %}</a>
                        
                        <br>{% include 'AssetManagement/argon/admin/includes/AssetOfType--CreateModalIncludes.html' %}
                        
                        <br>{% include 'AssetManagement/argon/admin/includes/AssetOfType--DetailModalIncludes.html' %}
                        <br>{% include 'AssetManagement/argon/admin/includes/AssetOfType--EditModalIncludes.html' %}
                
                        
                        <!-- Detail content refer -->
                        
                        
                        
                </ul>
                
            </div>
        </main>
    {% endblock %}