{% load i18n %}
{% load tz %}
        <!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        {% if user.is_authenticated %}
                  <!-- Topbar Navbar -->
                    {% include 'Workspace/'|add:website_template|add:'/admin/includes/top-navbar.html' %}
                  <!-- End Topbar Navbar -->
        {% else %}
                    <li class="no-arrow mx-1 float-right" style="display: block; text-align: right;">
                      <a class="nav-link btn btn-primary"
                         href="{% url 'Account:Signup' %}"
                         id="signUpBtn" role="button">
                        {% trans 'Sign up!' %}
                      </a>
                    </li>
        {% endif %}
        <!-- End of Topbar -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'Account:Signout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="all-alert-message"
     id="all-alert-messages-id" style="position:relative; z-index: 10;">
    {% if web_alerts %}
        {% for a in web_alerts %}
            {% if a.level and a.message %}
                <div class="alert alert-{{ a.level }} alert-dismissible fade show" style="position: fixed;">
                  <strong>{{ a.level|title }}!</strong> {{ a.message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>