{% load static %} {% load i18n %} {% load humanize %} {% load tz %}

<div class="modal fade" id="CompanyCompanyCreatemodalsId" tabindex="-1" data-backdrop="static" data-keyboard="true"  role="dialog" aria-labelledby="CompanyCompanyCreatemodalsId" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
         <form method="POST" action="" enctype="multipart/form-data" id="CompanyCompanyCreateModalsFormId" data-uuid="">
            <div class="modal-header">
               <h3 class="modal-title">Tạo mới Công Ty </h3>
               <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="form-group px-lg-5 text-start">
                  <div class="mb-1 col-xl-6 d-none">
                     <label class="small mb-1">Id</label>
                     <input id="idCompanyCompanyCreateModalInputId" name="id" class="form-control id-Company-Company-input" placeholder="Nhập Id of Company" type="text" value="">
                  </div>
                  <div class="mb-1 col-xl-6 d-none">
                     <label class="small mb-1">Uuid</label>
                     <input id="uuidCompanyCompanyCreateModalInputId" name="uuid" class="form-control uuid-Company-Company-input" placeholder="Nhập Uuid of Company" type="text" value="">
                  </div>
                  <h6 class="heading-small text-muted mb-4">Thông tin chung</h6>
                  <div class="row gx-2 mb-2">
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Tên Công Ty</label>
                        <input id="nameCompanyCompanyCreateModalInputId"  name="name" class="form-control name-Company-Company-input mps_required" placeholder="Nhập Tên Công Ty" type="text" value="">
                     </div>
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Trạng Thái Công Ty</label>
                        <select id="companystatusCompanyCompanyCreateModalInput"  name="companystatus" class="form-select companystatus-Company-Company-input mps_required" placeholder="Trạng thái Công Ty" type="text" value="">
                           <option value="" selected>-- Lựa chọn --</option>
                        </select>
                     </div>
                  </div>
                  <hr>
                  <div class="row gx-2 mb-2">
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Mã Công Ty</label>
                        <input id="code_companyCompanyCompanyCreateModalInputId"  name="code_company" class="form-control code_company-Company-Company-input mps_required" placeholder="Nhập Mã Công Ty" type="text" value="">
                     </div>
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Mã Số Thuế</label>
                        <input id="tax_codeCompanyCompanyCreateModalInputId"  name="tax_code" class=" form-control tax_code-Company-Company-input mps_required" placeholder="Nhập Mã Số Thuế" type="text" value="{{ current_Company.tax_code}}">
                     </div>
                  </div>
                  <hr>
                  <div class="row gx-2 mb-2">
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Thành Phố</label>
                        <select id="cityCompanyCompanyCreateModalInput"  name="city" class="form-select city-Company-Company-input mps_required" placeholder="Thành Phố" type="text" value="">
                           <option value="" selected>-- Lựa chọn --</option>
                        </select>
                     </div>
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Huyện</label>
                        <select id="districtCompanyCompanyCreateModalInput"  name="district" class="form-select district-Company-Company-input mps_required" placeholder="Huyện" type="text" value="">
                           <option value="" selected>-- Lựa chọn --</option>
                        </select>
                     </div>
                  </div>
                  <div class="row gx-2 mb-2">
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Xã</label>
                        <select id="communeCompanyCompanyCreateModalInput"  name="commune" class="form-select commune-Company-Company-input mps_required" placeholder="Xã" type="text" value="">
                           <option value="" selected>-- Lựa chọn --</option>
                        </select>
                     </div>
                     <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">TelePhone</label>
                        <input id="phone_numberCompanyCompanyCreateModalInputId"  name="phone_number" class="form-control phone_number-Company-Company-input mps_required" placeholder="Nhập Số Điện Thoại" type="text" value="">
                     </div>
                  </div>
                  <div class="row gx-2 mb-2">
                     <label class="small mb-1">Địa Chỉ</label>
                     <input id="addressCompanyCompanyCreateModalInputId"  name="address" class="form-control address-Company-Company-input mps_required" placeholder="Nhập Địa Chỉ" type="text" value="">
                  </div>
                  {% comment %} 
               </div>
               <div class="row gx-2 mb-2">
                  <div class="mb-1 col-xl-12">
                     <label for="avatarCompanyCompanyCreateModalInputId"><i class="fas fa-paperclip"></i>&nbsp;{% trans 'avatar' %}</label>
                     <input class=" Company-Company form-control-file form-control Company-Company-file avatar-Company-Company-file-input" type="file" name="avatar"  class="" id="avatarCompanyCompanyCreateModalInputId">
                     <div class="col-xl-12" id="avatarCompanyCompanyCreateModalFileAreaId">
                        {% if current_Company.avatar %}
                        <div class="form-group row col-xl-8 table-hover mt-1" style="background-color:gainsboro;height: 25px;" id="{{ current_Company.uuid }}AttachmentDivId">
                           <div class="col-xl-10 " >
                              <span>
                                 <a style="color:cornflowerblue" target="_blank"  href="{{ current_Company.avatar.url }}">
                                    <p><b> {{ current_Company.avatar_filename|title }}</b></p>
                                 </a>
                              </span>
                           </div>
                           <div class="col-xl-2 text-end">
                              <i class="fas fa-times" style="color:gray" file-uuid="{{ current_Company.uuid }}" onclick="avatarCompanyCompanyDeletedAttacthment(this)"></i>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                     {% endcomment %}
                  </div>
               </div>
               <div class="modal-footer">
                  <button id="CompanyCompanyCancelCreateModalBtnId" type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                  <button id="CompanyCompanyCreateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                  <button id="CompanyCompanySaveAndNewModalBtnId" type="button" class="d-none btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu và thêm mới</button>
                  {% comment %} <button id="CompanyCompanyTestCreateModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button> {% endcomment %}
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
</div>