
            {% load static %} {% load i18n %} {% load humanize %} {% load tz %}
            
            
<div class="modal fade" id="botuaWorkspaceCreatemodalsId" tabindex="-1" data-backdrop="static" data-keyboard="true"  role="dialog" aria-labelledby="botuaWorkspaceCreatemodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
        <form method="POST" action="" enctype="multipart/form-data" id="botuaWorkspaceCreateModalsFormId" data-uuid="">
            <div class="modal-header">
                <h3 class="modal-title">Tạo mới   BotUA </h3>
<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group px-lg-5 text-start">
            
            
<div class="mb-1 col-xl-6 d-none">
   <label class="small mb-1">Id</label>
    <input id="idBotUAWorkspaceCreateModalInputId" name="id" class="form-control id-botua-workspace-input" placeholder="Điền thông tin Id of BotUA" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
   <label class="small mb-1">Uuid</label>
    <input id="uuidBotUAWorkspaceCreateModalInputId" name="uuid" class="form-control uuid-botua-workspace-input" placeholder="Điền thông tin Uuid of BotUA" type="text" value="">
</div>
            <div class="row gx-2 mb-2">
                    <div class=" mb-1 col-xl-12">
                        <label class="small mb-1">Name</label>
                        <input id="nameBotUAWorkspaceCreateModalInputId"  name="name" class="form-control name-botua-workspace-input " placeholder="Điền thông tin Name" type="text" value="">
                        
                    </div>
                    </div><div class="row gx-2 mb-2">
                        <div class="mb-1 col-xl-12">
                            <div class="form-check mt-4">
                                {% if current_botua.active == True %}
                                <input id="activeBotUAWorkspaceCreateModalInputId"  name="active" type="checkbox" class="form-check-input active-botua-workspace-input" placeholder="Điền thông tin Active of BotUA" value="" checked>
                                {% else %}
                                <input id="activeBotUAWorkspaceCreateModalInputId"  name="active" type="checkbox" class="form-check-input active-botua-workspace-input" placeholder="Điền thông tin Active of BotUA" value="">
                                {% endif %}
                                <label class="form-check-label" for="activeBotUAWorkspaceCreateModalInputId">
                                    Active
                                </label>
                            </div>
                        </div>
                    </div>
              </div>
                    <div class="modal-footer">
                        <button id="botuaWorkspaceCancelCreateModalBtnId" type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                        <button id="botuaWorkspaceCreateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                        
                        <button id="botuaWorkspaceSaveAndNewModalBtnId" type="button" class="d-none btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu và thêm mới</button>
                        <button id="botuaWorkspaceTestCreateModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
                    </div>
            
            </div>
                        </form>
                        </div>
                </div>
            </div>
            
            