
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/tUtils.js' %}"></script>
<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/LogoImagesClasses.js' %}"></script>



<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
            Create New LogoImages
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            {% if current_logoimages.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="logoimagesWebsiteCreateFormId" data-uuid="{{ current_logoimages.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="logoimagesWebsiteCreateFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}

            
<div class="form-group input-group d-none">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Id
        </span>
    </div>
    <input id="idLogoImagesWebsiteInputId" name="id" class="form-control id-logoimages-website-input" placeholder="Id of LogoImages" type="text" value="">
</div>
            
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Name
        </span>
    </div>
    <input id="nameLogoImagesWebsiteInputId" name="name" class="form-control name-logoimages-website-input" placeholder="Name of LogoImages" type="text" value="">
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Uuid
        </span>
    </div>
    <input id="uuidLogoImagesWebsiteInputId" name="uuid" class="form-control uuid-logoimages-website-input" placeholder="Uuid of LogoImages" type="text" value="{{ current_uuid}}" readonly>
</div>
                        
  <div class="form-group input-group">
    <div class="input-group-prepend" for="fileLogoImagesWebsiteInputId">
        <span class="input-group-text">
        File
        </span>
    </div>
    <div class="custom-file">
        <input class="logoimages-website" type="file" name="file" class="form-control-file form-control file-logoimages-website-input" id="fileLogoImagesWebsiteInputId">
        <label class="custom-file-label" for="fileLogoImagesWebsiteInputId">{% trans 'Choose file' %}</label>
    </div>
    {% if current_logoimages.file %}
        <span>(Current:
            <a href="{{ current_logoimages.file.url }}" target="_self">
                {{ current_logoimages.file_filename|title }}
            </a>)
        </span>
    {% endif %}
  </div>

                        
<div class="form-group input-group">
    <div class="form-check">
        {% if current_logoimages.is_favicon == True %}
        <input id="is_faviconLogoImagesWebsiteInputId" name="is_favicon" type="checkbox" class="form-check-input is_favicon-logoimages-website-input" placeholder="Is_Favicon of LogoImages" value="" checked>
        {% else %}
        <input id="is_faviconLogoImagesWebsiteInputId" name="is_favicon" type="checkbox" class="form-check-input is_favicon-logoimages-website-input" placeholder="Is_Favicon of LogoImages" value="">
        {% endif %}
        <label class="form-check-label" for="is_faviconLogoImagesWebsiteInputId">
            Is_Favicon
        </label>
    </div>
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Desc
        </span>
    </div>
    <textarea id="descLogoImagesWebsiteInputId" name="desc" class="form-control desc-logoimages-website-input" placeholder="Desc of LogoImages" type="text"></textarea>
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Updated_At
        </span>
    </div>
    <input id="updated_atLogoImagesWebsiteInputId" name="updated_at" class="form-control updated_at-logoimages-website-input" placeholder="Updated_At of LogoImages" type="datetime-local" value="">
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Created_At
        </span>
    </div>
    <input id="created_atLogoImagesWebsiteInputId" name="created_at" class="form-control created_at-logoimages-website-input" placeholder="Created_At of LogoImages" type="datetime-local" value="">
</div>
                        
<div class="form-group">
    <button id="logoimagesWebsiteSaveBtnId" type="button" class="btn btn-primary btn-lg">Save</button>
    <button id="logoimagesWebsiteSaveAndNewBtnId" type="button" class="btn btn-secondary btn-lg">Save and Create New</button>
    <button id="logoimagesWebsiteTestBtnId" type="button" class="btn btn-warning btn-lg">Test</button>
</div>
            

            </form>
        </fieldset>
    </div>
</div>
            