
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}

<script src="{% static 'Workspace/'|add:website_template|add:'/admin/js/PositionClasses.js' %}"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
          <a href="{% url 'Website:Position_DetailView' slug=current_position.uuid %}">
            Current Position: {{ current_position.name|title }}
          </a>
          <a class="btn btn-primary" href="{% url 'Website:Position_EditView' slug=current_position.uuid %}">
            Edit
          </a>
      </h6>
    </div>
    <div class="card-body">
        <fieldset>
            {% if current_position.uuid %}
                <form method="POST" action="" enctype="multipart/form-data" id="positionWebsiteDetailFormId" data-uuid="{{ current_position.uuid }}">
            {% else %}
                <form method="POST" action="" enctype="multipart/form-data" id="positionWebsiteDetailFormId" data-uuid="">
            {% endif %}
                    {% csrf_token %}

            
<div class="form-group input-group d-none">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Id
        </span>
    </div>
    {% if current_id %}
        <input id="idPositionWebsiteInputId" name="id" class="form-control id-position-website-input" placeholder="Id of Position" type="text" value="{{ current_position.id}}">
    {% else %}
        <input id="idPositionWebsiteInputId" name="id" class="form-control id-position-website-input" placeholder="Id of Position" type="text" value="">
    {% endif %}
</div>
            
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Name
        </span>
    </div>
    <input id="namePositionWebsiteInputId" name="name" class="form-control name-position-website-input" placeholder="Name of Position" type="text" value="{{ current_position.name}}" readonly>
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Uuid
        </span>
    </div>
    <input id="uuidPositionWebsiteInputId" name="Uuid" class="form-control uuid-position-website-input" placeholder="Uuid of Position" type="text" value="{{ current_position.uuid}}" readonly>
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Desc
        </span>
    </div>
    <textarea id="descPositionWebsiteInputId" name="Desc" class="form-control desc-position-website-input" placeholder="Desc of Position" type="text" readonly>{{ current_position.desc}}</textarea>
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Css
        </span>
    </div>
    <textarea id="cssPositionWebsiteInputId" name="Css" class="form-control css-position-website-input" placeholder="Css of Position" type="text" readonly>{{ current_position.css}}</textarea>
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Order
        </span>
    </div>
    <input id="orderPositionWebsiteInputId" name="order" class="form-control order-position-website-input" placeholder="Order of Position" type="text" value="{{ current_position.order}}" readonly>
</div>
                        
<div class="form-group input-group">
    <div class="form-check">
        {% if current_position.active == True %}
        <input id="activePositionWebsiteInputId" name="active" type="checkbox" class="form-check-input active-position-website-input" placeholder="Active of Position" value="{{ current_position.active}}" checked  disabled="true">
        {% else %}
        <input id="activePositionWebsiteInputId" name="active" type="checkbox" class="form-check-input active-position-website-input" placeholder="Active of Position" value="{{ current_position.active}}"  disabled="true">
        {% endif %}
        <label class="form-check-label" for="activePositionWebsiteInputId">
            Active
        </label>
    </div>
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Updated At
        </span>
    </div>
    <input id="updated_atPositionWebsiteInputId" name="updated_at" class="form-control updated_at-position-website-input" placeholder="Updated_At of Position" type="datetime-local" value="{{ current_position.updated_at}}" readonly>
</div>
                        
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        Created At
        </span>
    </div>
    <input id="created_atPositionWebsiteInputId" name="created_at" class="form-control created_at-position-website-input" placeholder="Created_At of Position" type="datetime-local" value="{{ current_position.created_at}}" readonly>
</div>
                        
<div class="form-group">
    <button id="positionWebsiteTestBtnId" type="button" class="btn btn-warning btn-lg">Test</button>
</div>
            

            </form>
        </fieldset>
    </div>
</div>
            