
            {% load static %} {% load i18n %} {% load humanize %} {% load tz %}
            
           
<div class="modal fade" id="positionWorkspaceEditmodalsId" data-backdrop="static" data-keyboard="true"  tabindex="-1" role="dialog" aria-labelledby="positionWorkspaceEditmodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
        <form method="POST" action="" enctype="multipart/form-data" id="positionWorkspaceEditModalsFormId" data-uuid="">
            <div class="modal-header">
                <h3 class="modal-title">Chỉnh sửa   Vị trí hiển thị </h3>
<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group px-lg-5 text-start">
            
            
<div class="mb-1 col-xl-6 d-none">
   <label class="small mb-1">Id</label>
    <input id="idPositionWorkspaceEditModalInputId" name="id" class="form-control id-position-workspace-input" placeholder="Điền thông tin Id of Position" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
    <label class="small mb-1">Uuid</label>
    <input id="uuidPositionWorkspaceEditModalInputId" name="uuid" class="form-control uuid-position-workspace-input" placeholder="Điền thông tin Uuid of Position" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
    <label class="small mb-1">Uuid</label>
    <input id="uuidPositionWorkspaceEditModalInputId" name="uuid" class="form-control uuid-position-workspace-input" placeholder="Điền thông tin Uuid of Position" type="text" value="">
</div>
            <div class="row gx-2 mb-2">
        <div class=" mb-1 col-xl-12">
                                    <label class="small mb-1">Name</label>
                                    
            <input id="namePositionWorkspaceEditModalInputId"  name="name" class=" form-control name-position-workspace-input" placeholder="Điền thông tin Name" type="text" value="{{ current_position.name}}">
                                </div>
                                </div><div class="row gx-2 mb-2">

                <div class="mb-1 col-xl-12">
                    <label class="small mb-1">Css</label>
                    <textarea id="cssPositionWorkspaceEditModalInputId"  name="css" class=" form-control css-position-workspace-input ckeditor-input" placeholder="Điền thông tin Css" type="text" rows="4" cols="80">{{ current_position.css}}</textarea>

                </div>
                                </div><div class="row gx-2 mb-2">

                <div class="mb-1 col-xl-6">
                    <label class="small mb-1">Desc</label>
                    <textarea id="descPositionWorkspaceEditModalInputId"  name="desc" class=" form-control desc-position-workspace-input ckeditor-input" placeholder="Điền thông tin Desc" type="text" rows="4" cols="80">{{ current_position.desc}}</textarea>

                </div>
                                

         <div class=" mb-1 col-xl-6">
            <label class="small mb-1">Order</label>
            <input id="orderPositionWorkspaceEditModalInputId"  name="order" class=" form-control order-position-workspace-input" placeholder="Điền thông tin Order" type="text" value="{{ current_position.order}}">
        </div>
                                </div><div class="row gx-2 mb-2">
        <div class="mb-1 col-xl-12">
            <div class="form-check mt-4">
                {% if current_position.active == True %}
                <input id="activePositionWorkspaceEditModalInputId"  name="active" type="checkbox" class="  form-check-input active-position-workspace-input" placeholder="Điền thông tin Active" value="{{ current_position.active}}" checked>
                {% else %}
                <input id="activePositionWorkspaceEditModalInputId"  name="active" type="checkbox" class=" form-check-input active-position-workspace-input" placeholder="Điền thông tin Active" value="{{ current_position.active}}">
                {% endif %}
                <label class="form-check-label" for="activePositionWorkspaceEditModalInputId">
                    Active
                </label>
            </div>
        </div>
                                </div>
             </div> </div>
                    <div class="modal-footer">
                        <button id="positionWorkspaceCancelEditModalBtnId" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" ><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                        <button id="positionWorkspaceUpdateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                        
                        <button id="positionWorkspaceTestEditModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
                    </div>
            
            </div>
                        </form>
                        </div>
                </div>
            </div>
            
            