
            {% load static %} {% load i18n %} {% load humanize %} {% load tz %}
            
            
<div class="modal fade" id="timezoneWorkspaceCreatemodalsId" tabindex="-1" data-backdrop="static" data-keyboard="true"  role="dialog" aria-labelledby="timezoneWorkspaceCreatemodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
        <form method="POST" action="" enctype="multipart/form-data" id="timezoneWorkspaceCreateModalsFormId" data-uuid="">
            <div class="modal-header">
                <h3 class="modal-title">Tạo mới   TimeZone </h3>
<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group px-lg-5 text-start">
            
            
<div class="mb-1 col-xl-6 d-none">
   <label class="small mb-1">Id</label>
    <input id="idTimeZoneWorkspaceCreateModalInputId" name="id" class="form-control id-timezone-workspace-input" placeholder="Điền thông tin Id of TimeZone" type="text" value="">
</div>
            
<div class="mb-1 col-xl-6 d-none">
   <label class="small mb-1">Uuid</label>
    <input id="uuidTimeZoneWorkspaceCreateModalInputId" name="uuid" class="form-control uuid-timezone-workspace-input" placeholder="Điền thông tin Uuid of TimeZone" type="text" value="">
</div>
            
              </div>
                    <div class="modal-footer">
                        <button id="timezoneWorkspaceCancelCreateModalBtnId" type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                        <button id="timezoneWorkspaceCreateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                        
                        <button id="timezoneWorkspaceSaveAndNewModalBtnId" type="button" class="d-none btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu và thêm mới</button>
                        <button id="timezoneWorkspaceTestCreateModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
                    </div>
            
            </div>
                        </form>
                        </div>
                </div>
            </div>
            
            