{% load i18n %}
{% load tz %}
{% if user.is_authenticated %}
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarSearchToggleTop" class="btn btn-link d-md-none rounded-circle mr-3 hide-mobile-1200">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search hide-mobile-1200"
                id="search-form"
                action="" method="get" target="_blank">
          {% csrf_token %}
            <div class="input-group">
              <input type="text"
                     class="form-control bg-light border-0 small"
                     placeholder="{% trans 'Search for all' %}..."
                     aria-label="Search"
                     aria-describedby="basic-addon2"
                     name="q">
              <div class="input-group-append">
                <button class="btn btn-primary"
                        form="search-form"
                        type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- End Top Search -->
{% endif %}