
{% load static %} 
{% load i18n %} 
{% load humanize %} 
{% load tz %}

            
           
<div class="modal fade" id="WareHouseWareHouseCreatemodalsId" data-backdrop="static" data-keyboard="true"  tabindex="-1" role="dialog" aria-labelledby="WareHouseWareHouseCreatemodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content" >
        <form method="POST" action="" enctype="multipart/form-data" id="WareHouseWareHouseCreateModalsFormId" data-uuid="">
            <div class="modal-header bg-info border-primary">
                <h3 class="modal-title">Thêm thông tin tài sản</h3>
<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <h6 class="heading-small text-muted mb-4">Thông tin chung</h6><div class="row gx-2 mb-2">
                    <div class=" mb-1 col-xl-6" style="display: inline-block;">
                        <div class=" mb-1 col-xl-6">
                            <label class="small mb-1">Mã Kho
                            </label>
                            <input id="codeWareHouseWareHouseCreateModalInputId"  name="code" class="mps_required form-control username-account-account-input" placeholder="Nhập Code" type="text">
                                </div>
                        </div>
                        <div class=" mb-1 col-xl-6">
                            <label class="small mb-1">Tên Kho
                            </label>
                            <input id="nameWareHouseWareHouseCreateModalInputId" name="name" class="mps_required form-control -account-account-input" placeholder="Nhập " type="text">
                        </div>
                    </div>
                    <div class="row gx-2 mb-2">
                        <div class=" mb-1 col-xl-6">
                            <label class="small mb-1">Người quản lý</label>
                            <select id="managerWareHouseWareHouseCreateModalInputId" name="manager" class="form-control full_name-account-account-input" type="text">
                            </select>
                        </div>
                        <div class=" mb-1 col-xl-6">
                            <label class="small mb-1">Trạng thái</label>
                            <select id="statusWareHouseWareHouseCreateModalInputId"  name="status" class="mps_required form-control full_name-account-account-input" type="text">
                                <option value="true">Đang hoạt động</option>
                                <option value="false">Ngưng hoạt động</option>
                            </select>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button id="WareHouseWareHouseCancelModalBtnId" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" ><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
                <button id="WareHouseWareHouseCreateModalBtnId" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>&nbsp;Lưu</button>
                
                <button id="WareHouseWareHouseTestModalBtnId" type="button" class="btn btn-warning btn-sm"><i class="fas fa-vial"></i>&nbsp;Test</button>
            </div>
        
            </div>
        </form>
        </div>
    </div>
</div>
            
            