{% load static %}

<!--   Core JS Files   -->
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
<script src="/static/arrgon/js/jquery/dist/moment.min.js"></script>
<script src="/static/arrgon/js/jquery/dist/jquery-confirm.min.js"></script>
<script src="/static/arrgon/js/plugins/jquery-ui.min.js"></script>

<script src="{% static 'js/jquery/dist/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
<script src="{% static 'js/common/jsSettings.js' %}"></script>


<!--  <script src="/js/common/jsSettings.js"></script>-->
<!-- <script src="/static/assets/js/common/UserInfo.js"></script> -->
<script src="/static/arrgon/js/common/meta-data-hr360.js"></script>
<script src="/static/arrgon/js/select2.min.js"></script>

{% comment %} <script src="/static/assets/js/vendor-all.min.js"></script> {% endcomment %}
<!--<script src="/static/arrgon/js/plugins/bootstrap.min.js"></script>-->
{% comment %} <script src="/static/arrgon/js/pcoded.min.js"></script> {% endcomment %}
<script src="/static/arrgon/js/vanillajs-datepicker-master/dist/js/datepicker-full.js"></script>
{% comment %} <script src="/static/assets/notyf/notyf.min.js"></script> {% endcomment %}
<!--<script src="/static/arrgon/js/common/organization-handle.js"></script>-->
{% comment %} <script src="/static/arrgon/js/common/CapacityQuestionList-handle_hand.js"></script> {% endcomment %}
<script src="/static/arrgon/js/common/NotificationHandle.js"></script>
<script src="/static/arrgon/js/common/Enable_Testing.js"></script>
<script src="/static/arrgon/js/common/HandlerEvent.js"></script>

<!-- Hand -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> -->


<!-- <script src="/static/assets/bootstrap-toasts-manager/dist/toast.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<script src="/static/arrgon/js/plugins/toastr.min.js"></script>
<script src="/static/arrgon/js/tableExport/tableExport.min.js"></script>
{% comment %} <script src="/static/arrgon/js/jquery/dist/moment.min.js"></script>
<script src="/static/arrgon/js/jquery/dist/jquery-confirm.min.js"></script>
<script src="/static/arrgon/js/plugins/jquery-ui.min.js"></script> {% endcomment %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
<script src="/static/arrgon/js/common/HandlerEvent.js"></script>
<!--<script src="/static/arrgon/js/toasts.js"></script>-->
<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
<script src="/static/arrgon/ckeditor5-build-classic-34.1.0/ckeditor5-build-classic/ckeditor.js"></script>
<script src="/static/arrgon/js/common/CkEditorConfig.js"></script>
<!-- <script src="/static/arrgon/js/datatables/datatables-simple-demo.js"></script> -->

<script src="/static/arrgon/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/static/arrgon/js/scripts.js"></script>
<script src="/static/arrgon/js/Chart.min.js" crossorigin="anonymous"></script>
<!-- <script src="/static/arrgon/assets/demo/chart-area-demo.js"></script>
<script src="/static/arrgon/assets/demo/chart-bar-demo.js"></script> -->
<!--<script src="https://cdn.jsdelivr.net/npm/simple-datatables@5" crossorigin="anonymous"></script>-->
<script src="/static/arrgon/js/datatables/simple-datatables@5.js" crossorigin="anonymous"></script>
<script src="/static/arrgon/js/datatables/datatables-simple-demo.js"></script>
<script src="/static/arrgon/js/bundle.js" crossorigin="anonymous"></script>
<script src="/static/arrgon/js/litepicker.js"></script>
