{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


<script src="/static/arrgon/js/jquery/dist/jquery.min.js"></script>

<script src="{% static 'AssetManagement/argon/admin/js/AssetManagementConst.js' %}"></script>
        
<script src="{% static 'AssetManagement/argon/admin/js/AssetManagementClasses.js' %}"></script>
            
<!-- Search Form -->

            <!-- Search Form -->
        <div class="row">
            <div class="col-sm-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <!-- <h5 class="mb-3">Tìm kiếm Thông tin người dùng</h5> -->
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-quick-search-tab" data-bs-toggle="pill" href="#pills-quick-search" role="tab" aria-controls="pills-quick" aria-selected="true">Tìm kiếm nhanh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-filter-search-tab" data-bs-toggle="pill" href="#pills-filter-search" role="tab" aria-controls="pills-filter" aria-selected="false">Bộ lọc</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-quick-search" role="tabpanel" aria-labelledby="pills-home-tab">
                            <!-- Tìm kiếm nhanh -->
                                    
            <div class="row gx-2 mb-2 d-flex align-items-center justify-content-center">
            <div class="col-xl-8">
                <div class="input-group input-group-joined input-group-solid">
                    <input class="form-control pe-0" type="text"  id="SupplierSupplierQuickSearchInputId" placeholder="Nhập 'tên tài sản'" aria-label="Search">
                    <span class="input-group-text" id="SupplierSupplierQuickSearchBtnId">
                        <i class="fas fa-search" data-feather="search"></i>
                    </span>
                </div>
            </div>
            </div>
            
                            </div>
                            <div class="tab-pane fade" id="pills-filter-search" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <!-- Tìm kiếm bộ lọc -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- End Search Form -->
            
            