{% load static %} 
{% load i18n %} 
{% load humanize %} 
{% load tz %}
            
<div class="modal fade" id="UnitUnitDetailmodalsId" data-backdrop="static" data-keyboard="true"  tabindex="-1" role="dialog" aria-labelledby="accountAccountDetailmodalsId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
        <form method="POST" action="" enctype="multipart/form-data" id="UnitUnitDetailModalsFormId" data-uuid="">
            <div class="modal-header">
                <h3 class="modal-title">Xem chi tiết Thông tin đơn vị tính</h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group px-lg-5 text-start">
            
                <div class="mb-1 col-xl-6 d-none">
                    <label class="small mb-1">Uuid</label>
                    <input id="uuidUnitUnitDetailModalInputId" name="uuid" class="form-control uuid-account-account-input" placeholder="Nhập Uuid of Asset" type="text" value="">
                </div>
                <h6 class="heading-small text-muted mb-4">Thông tin chung</h6><div class="row gx-2 mb-2">
                    <div class="mb-1 col-xl-6">
                        <label class="small mb-1">Mã đơn vị tính</label>
                         <input id="dcodeUnitUnitDetailModalInputId" name="dcode" class="form-control id-account-account-input" type="text" disabled>
                     </div>
                    <div class=" mb-1 col-xl-6">
                        <label class="small mb-1">Tên đơn vị tính</label>
                        <input id="nameUnitUnitDetailModalInputId" name="name" class="form-control email-account-account-input" type="text" disabled>
                    </div>
                                
                        <div class=" mb-1 col-xl-6">
                            <label class="small mb-1">Thời gian tạo</label>
                            <input id="created_atUnitUnitDetailModalInputId" name="created_at" class="form-control password-account-account-input" type="text" disabled>
                        </div>

                        <div class=" mb-1 col-xl-6">
                            <label class="small mb-1">Thời gian cập nhật</label>
                            <input id="updated_atUnitUnitDetailModalInputId" name="updated_at" class="form-control password-account-account-input" type="text" disabled>
                        </div>

                        <div class=" mb-1 col-xl-6">
                            <label class="small mb-1">Được tạo bởi</label>
                            <input id="created_byUnitUnitDetailModalInputId" name="updated_at" class="form-control password-account-account-input" type="text" disabled>
                        </div>
                    </div>
                    <div class="row gx-2 mb-2">
                        <div class="mb-1 col-xl-12">
                            <div class="col-xl-12" id="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="accountAccountCancelDetailModalBtnId" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i>&nbsp;Hủy</button>
            </div>  
            </div>
        </form>
        </div>
    </div>
</div>
            
            